
            <div id="about_me" style="margin-left: auto; margin-right: auto" class="container-fluid content-fluid">
                <div class="row container-fluid container-fluid ">

                <div style="text-align: left" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <img id="profile_pic" src="https://www.dropbox.com/s/c569gg8arblfyta/profile.jpg?dl=1" width="100%" height="50%" style="text-align: left">
                </div>

                <div id="my_info" class="panel panel-default container-fluid content-fluid col-xs-7 col-sm-7 col-md-7 col-lg-7" style="text-align: left">
                <div class="panel-body container-fluid content-fluid" >
               
                <p><b>Education:</b> <br/> <ul>John Jay College of Criminal Justice (Class of 2016)</ul></p>
                <p><b>Degree:</b> <br/> <ul>Magna Cum Laude</ul> 
                                        <ul>B.S in Computer Science Information Security</ul>
                                        <ul>Minor in Mathematics</ul></p>
                <p><b>Interesting facts:</b> 
                <ul>A black belt in Tae Kwon Do. </ul>
                <ul>Authors to three books (
                    <a id="book_link" href="https://www.amazon.com/Dicey-Man-I-Jaehyuk-Oh-ebook/dp/B01MY7AV28/r
                    ef=sr_1_1?ie=UTF8&qid=1492009008&sr=8-1&keywords=dicey+man+I">Dicey Man I</a>, 
                    <a id="book_link" href="https://www.amazon.com/Dicey-Man-II-Jaehyuk-Oh-ebook/dp/B01MR50LPO/r
                    ef=pd_sbs_351_2?_encoding=UTF8&psc=1&refRID=NHFQ84SP6RKEYXEG7BNV"> Dicey Man II</a>, 
                    <a id="book_link" href="https://www.amazon.com/Slacking-Food-Recipes-cook-JAE-ebook/dp/B00MEL
                    IHYO/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1492009108&sr=1-1&keywords=slacking+food" >Slacking Food Recipes</a>) </ul>
                <ul>A member of NYC Table Tennis meetup </ul></p>
                <p><b>Interests:</b> <ul>I am very interested in fullstack based websites. I am currently exploring and learning myself Angular JS
                    and React JS to improve my arsenary. Simplicity is all I care for and interested in any web based frameworks or library that makes 
                     any web development simpler  </ul></p>
                <p><b>Personality:</b> <ul>Intelligent, witty, detail oriented, persistent, hard worker, team player, 
                    multi tasker, leader, goal oriented </ul></p>
                <p><b>Location: </b> <ul> East Elmhurst, Queens, New York City </ul></p>

                   
                </div>
            </div>
            </div>
            </div>