
            <div id="works" style="margin-left: auto; margin-right: auto" class="container-fluid content-fluid">
                <div class="row container-fluid container-fluid ">

                <div style="text-align: left" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div>
                            <h1>works</h1>
                            <h2>Batman Series DB (2017)</h2>
                        </div>

                        <img class="img-responsive" id="screenshots" src="img/batman_screenshot.PNG" />
                              
                        </div>
                        <br/>
                            <br/>
                </div>

               
                <div class="panel panel-default container-fluid content-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left">
                <div class="panel-body container-fluid content-fluid" >
               
                    <h2>Description:</h2>
                    <ul><h2>As a huge fan of Batman, I decided to create my own version of Batman Series Database</h2>
                    <h2>It was originally developed and powered under NODE JS but as of now the website is powered by using HTML5, CSS and Jquery
                    </h2>
                    <h2>It is currently deployed on Heroku and please check out the link below for better exploration of the website</h2>
                    <h2><a href="https://batman-series-db.herokuapp.com/index.html" style="color:orangered">Batman Series DB </a></h2>
                    </ul>

                    
                   
                </div>
            </div>
            
            
               <div style="text-align: left" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div>
           
                            <h2>Slacking Food Blog (2017)</h2>
                        </div>

                      <img class="img-responsive" id="screenshots" src="img/slacking_screenshot.PNG" />
                        <br/>
                            <br/>
                </div>

               
                <div class="panel panel-default container-fluid content-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left">
                <div class="panel-body container-fluid content-fluid" >
               
                    <h2>Description:</h2>
                    <ul><h2>It's my only own food blog platform running on Node JS, Javascript, MongoDB and Cloudinary</h2>
                    <h2>I've integrated this blog by using cloudinary API with Node JS to deliver fast image CDN</h2>
                    <h2>It is currently deployed on Heroku and please check out the link below for better exploration of the website</h2>
                    <h2><a href="http://slackingfoodblog.herokuapp.com/" style="color:orangered">Slacking Food Blog </a></h2>
                    </ul>

                    
                   
                </div>
            </div>
            
            
            
            </div>
            </div>
